.home-cover
  = image_tag("home/cover0.jpg", :class => "cover-img")
  .home-solid
    = image_tag("home/cover-solid.png", :class => "cover-solid")
  .home-textout
    .home-textin
      #textin-season
        WINTER - SPRING
      %br
      #textin-sub
        2016 COLLECTION
      %br
      #textin-text
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur enim risus,
        %br
        condimentum sit amet justo id, ornare porta est. Nam sagittis lacinia ex et rutrum.
      %br
      %br
      #textin-link
        View collection 