.home-cover {
    position: relative;
    max-height: 630px;
    overflow: hidden;
}

.cover-img {
    position: relative;
    zoom: 2;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    float: left;
    background-color: #F6F6F6;
}

.cover-solid {
    height:100%;
    width: 100%;
}

.home-solid {
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 990;
    right: 0;
}

.home-textout {
    position: absolute;
    width: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: 999;
    color: white;
}

.home-textin {
    margin: 8%;
    line-height: 23px;
}

#textin-season {
    font-family: 'Karla', sans-serif;  
    letter-spacing: 3px;
    font-size: 8pt;
}

#textin-sub {
    font-family: 'Roboto Slab', serif;
    font-size: 19pt;
    letter-spacing: 6px;
}

#textin-text {
    font-family: 'Karla', sans-serif;  
    letter-spacing: 0.5px;
    font-size: 8pt;
}

.textin-link {
    font-family: 'Vollkorn', serif;
    font-style: italic;
    font-size: 9pt;
    letter-spacing: 0.5px;
}

.home-products {
    margin: 4% auto;
    width: 65%;
}

.text-wrapper {
    line-height: 23px;
}

.text-grey {
    color: grey;
}
    
ul.home-products-thum {
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

li.product-thum {
    width: 23%;
    text-align: center;
}

.thum-img {
    width: 100%;
    height: auto;
    margin: 6% 0;
}

.product-thum-name {
    font-family: 'Roboto Slab', serif;
    font-size: 8pt;
    letter-spacing: 0.5px;
}

.product-thum-price {
    font-family: 'Vollkorn', serif;
    color: grey;
    font-size: 8pt;
}

ul.home-corp {
    display: flex;
    justify-content: space-between;
    margin: 4% auto;
}

li.corp-logo {
    width: 6%;
}








