.index-cover.cart-cover
  .cover-text
    .cover-text-link.text-grey
      Home&nbsp&nbsp&nbsp&nbsp&nbsp/&nbsp&nbsp&nbsp&nbsp&nbsp
      = link_to "Shop Style", products_path
    .textin-sub.text-black
      RECEIPT